html {
  overflow-y: scroll; 
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Cabin',-apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  letter-spacing: 0.025rem;
  font-size: 1.1rem;
}

* {
  box-sizing: border-box;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 0 2rem 0;
  box-shadow: rgb(0 0 0 / 10%) 0px 25px 20px -20px;
}

a {
  color: black;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 1.5px;
  text-decoration-skip-ink: auto;
  text-decoration-style: dotted;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-weight: normal;
  margin: 0 0 0.25rem 0;
  font-size: 1.5rem;
}

li {
  padding: 0 0 1rem 0;
}

button {
  display: block;
  margin: 1rem 0;
  padding: 0.6rem 1rem 0.5rem 1rem;
  border: 0px;
  border-radius: 4px;
  color: white;
  background-color: black;
  font-size: large;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

button:disabled {
  background-color: #666;
  cursor:inherit;
}

form {
	margin: 0 0 0.5rem 0;
}

form > div {
	margin: 0 0 0.5rem 0;
}

input {
  border-color: black;
  border-width: 1px;
  border-style: dotted;
  border-radius: 4px;
  padding: .3rem;
  font-size: medium;
  width: 4rem;
  font-weight: bold;
}

form button {
  display: inline-block;
  margin: 0.25rem 0.5rem 0.25rem 0 ;
  padding: 0.3rem 0.6rem;
  font-size: smaller;
  font-weight: normal !important;
}
