.container {
  /*background: #f8f8f8;*/
}

.header {
  box-shadow: rgb(0 0 0 / 10%) 0px 25px 20px -20px;
  padding: 0.5rem 1rem;
  margin: 0 auto 1.5rem auto;
  background: white;
  font-size: 1.25rem;
  font-weight: bolder;
  letter-spacing: -0.05rem;
  max-width: 1100px;
  color: black;
}

.header a:hover {
  color: black;
}

.alertIsTestnet {
  margin-top: 0.25rem;
  color:orange;
	font-weight: bold;
}

.pageContainer {
	font-size: smaller;
  padding: 1rem;
  margin: 0 auto;
  max-width: 800px;
}

.footer, 
.footerHome {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
  font-size: smaller;
}

.footerHome {
  background: rgb(256 256 256 / 80%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
}

.landingHeroImage {
}

.landingHeroText {
  z-index: 1;
}

.landingHeroTextA,
.landingHeroTextB {
  z-index: 1;
  font-weight: bolder;
  letter-spacing: -0.4rem;
  padding: 0 2rem;
  text-shadow: 0px 15px 5px rgb(0 0 0 / 20%), 10px 20px 5px rgb(0 0 0 / 10%), -10px 20px 5px rgb(0 0 0 / 10%), 0px 9px rgb(0 0 0 / 85%);
  text-decoration: none;
}

.landingHeroTextA {
  font-size: 6rem;
  color: white;
}

.landingHeroTextB {
  font-size: 4rem;
  line-height: 3.2rem;
  color: orange;
}

.landingHeroTextB:hover {
  color: white;
  text-decoration: none;
}

.landingSpec {
  z-index: 1;
  margin: 3rem 2rem;
  padding: 0.5rem;
  color: white;
  background: rgb(255,140,0, 95%);
  font-size: smaller;
  border-radius: 8px;
  display: inline-block;
  width: fit-content;
}
