.container {
  /*background: #f8f8f8;*/
}

.header {
  text-align: center;
  box-shadow: rgb(0 0 0 / 10%) 0px 25px 20px -20px;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  background: white;
  font-size: 1.5rem;
  font-weight: bolder;
  letter-spacing: -0.05rem;
}

.header a {
  color: orange;
  text-decoration: none;
}

.header a:hover {
  color: black;
}

.pageContainer {
  padding: 1rem;
  margin: 0 auto;
  max-width: 800px;
}

.footer {
  text-align: center;
  padding: 2rem 1rem;
  font-size: smaller;
}

.landingHeroImage {
}

.landingHeroText {
  z-index: 1;
  font-size: 7rem;
  font-weight: bolder;
  line-height: 6rem;
  letter-spacing: -0.4rem;
  padding: 2rem;
  text-shadow: 0px 15px 5px rgb(0 0 0 / 20%), 10px 20px 5px rgb(0 0 0 / 10%), -10px 20px 5px rgb(0 0 0 / 10%), 0px 9px rgb(0 0 0 / 85%);
  text-decoration: none;
  color: orange;
}

.landingHeroText:hover {
  text-decoration: none;
  color: white;
}