.nft {
    display: grid;
}

@media only screen and (min-width: 550px) {
    .nft {
        grid-template-columns: 1fr 1fr;
    }    
}

.nftImage,
.nftThumb {
    border-bottom: 1px solid white;
}

@media only screen and (min-width: 550px) {
    .nftImage,
    .nftThumb {
        margin: 1rem;
    }    
}

.nftThumb {
    background: #fff;
    padding: 1rem 0 0 0;
}

.nftStatusPending {
    padding: 0 1rem;
    min-height: 2rem;
    max-height: 2rem;
    overflow: hidden;
    background: white;
    color: darkgrey
}

.nftStatus {
    padding: 0 1rem;
    background: white;
    overflow: hidden;
    min-height: 2rem;
    max-height: 20rem;
    transition: max-height 0.5s ease-in;   
}

.nftStatus div {
    margin-bottom: 0.5rem;
}

.nftStatus > div:first-of-type {
    font-weight: bold;
}

.connection {
    color:orange;
    font-size: smaller;
}

.connection a {
    color:orange;
}

.nftDetails {
    font-size: smaller;
    padding: 1rem;
}

.nftDetailsHeader {
    color: darkgray;
    border-top: 1px solid lightgray;
    display: inline-block;
    padding: 0.25rem 2rem 0 0;
}

.nftDetails div {
    margin-bottom: 0.25rem;
}

.nftThumbImage.portrait {
    margin: 0 1rem;
}

.nftThumbImage.landscape {
    margin: 0;
}

.nftMetadata {
    margin: 0 0 2rem 0;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 25px 20px -20px;
}

.nft .nftMetadata div {
    margin: 0 0 .25rem 0;
}

.nftName {
    font-size: larger;
    font-weight: bold;
}

.nftThumb .nftName {
    font-size: inherit;
}

.nftCreatorAndDate,
.nftDescription, 
.nftEdition,
.nftCollection,
.nftDimensions {
    font-size:smaller;
}

.notification a,
.nftTrade a {
    font-weight:bold;
    color: orange;
}

.notification {
    color: orange;
    font-size: smaller;
    margin: 1rem 0;
    border-radius: 4px;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.notificationPending {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    color: orange;
    padding: 0.5rem 1rem 0.2rem 1rem;
    background: linear-gradient(to right, lightgoldenrodyellow 8%, white 18%, lightgoldenrodyellow 33%);
    background-size: 800px 104px;
    position: relative;
}

.mintingPending,
.mintingPending a {
    color: orange;
    font-weight: normal;
    padding: 1rem 0;
}

.mintingSucceeded,
.mintingSucceeded a {
    color: darkgreen;
    font-weight: normal;
    padding: 1rem 0;
}

.nftPriceETH {
    font-size: larger;
    font-weight: bold;
    color: black;
}

.nftPriceGas {
    font-weight: normal;
    font-size: smaller;
}

.ethereumLogo {
    display: inline;
    height: 1rem;
    margin: 0 .4rem 0 0;
}

.waiting {
    font-weight: normal;
    color: slategray;
}

.formActions {
    margin: 0.5rem 0;
}

.marketplaces {
	margin:0 0 1rem 0;
}

.marketplaces a {
    font-weight: bold;
}

.bigInput {
    display: block;
    width: 100%;
}

button.secondary {
	background: white;
	color: black;
	border: 1px solid black;
}
