.nft {
    display: grid;
}

@media only screen and (min-width: 550px) {
    .nft {
        grid-template-columns: 1fr 1fr;
    }    
}

.nftImage,
.nftThumb {
    border-bottom: 1px solid white;
}

@media only screen and (min-width: 550px) {
    .nftImage,
    .nftThumb {
        margin: 1rem;
    }    
}

.nftThumb {
    background: #fff;
    padding: 1rem 0 0 0;
}

.nftActions,
.nftDetails {
    padding: 0 1rem 1rem 1rem;
}

.nftActions div,
.nftDetails div {
    margin-bottom: 0.25rem;
}

.nftDetails {
    font-size: smaller;
}

.nftActions .connectedAddress {
    margin-bottom: 1rem;
}

.nftActions .connectedAddress,
.nftActions .connectedAddress a {
    color:orange;
    font-size: smaller;
}

.nftOwner {
    font-weight: bold;
}

.nftThumbImage.portrait {
    margin: 0 1rem;
}

.nftThumbImage.landscape {
    margin: 0;
}

.nftMetadata {
    margin: 0 0 2rem 0;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 25px 20px -20px;
}

.nft .nftMetadata div {
    margin: 0 0 .25rem 0;
}

.nftName {
    font-size: larger;
    font-weight: bold;
}

.nftThumb .nftName {
    font-size: inherit;
}

.nftCreatorAndDate,
.nftDescription, 
.nftEdition,
.nftCollection,
.nftDimensions {
    font-size:smaller;
}

.nftEdition,
.nftCollection,
.nftDimensions {
    color: grey;
}


.nftStatus {
    font-weight: bold;
}

.nftTrade {
    background: #efe;
    border-radius: 4px;
    padding: 0.5rem;
    margin: 1rem -0.5rem;
    border: 1px solid lightgreen;
    color: darkgreen;
}

.nftTrade a {
    color: darkgreen;
    font-weight:bold;
}

.minting,
.minting a {
    color: orange;
    font-weight: normal;
}

.mintingSuccess,
.mintingSuccess a {
    color: green;
    font-weight: normal;
}

.nftPrice {
    font-weight: normal;
    color: grey;
}

.nftPriceETH {
    font-weight: bold;
    color: black;
}